@model Advice
@{
    ViewData["Title"] = "Mind Advice";
}

<style>
    .vertical-center {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
</style>
<div class="row">
    <div class="vertical-center">
        <div class="col-lg-6">
            <h1 style="font-size:200px;">Mind Advice</h1>
            <p class="mb-0">Advice Generator with the Advice Slip API</p>
        </div>
        <div class="col-lg-6">
            <div v class="d-flex justify-content-center">
                <div class="card border-primary mb-3" style="max-width:50rem; border:none;">
                    <div class="card-body">
                        <blockquote class="blockquote ">
                            <p class="mb-0 text-center" style="font-size: 35px;">"@Model.slip.advice"</p>
                        </blockquote>
                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-center">
                <div class="row col-md-5">
                    <button id="submit" type="submit" class="btn btn-primary btn-lg">give me an advice</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#submit').click(function() {
        location.reload();
    });
</script>